 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-image-1 {
  width: 97px;
  height: 97px;
  margin: 24px auto 0 26px;
}

.u-section-1 .u-text-1 {
  margin: -77px auto 0 149px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 0.875rem;
  text-transform: none;
  margin: -27px auto 0 322px;
  padding: 6px 30px;
}

.u-section-1 .u-text-2 {
  margin: -12px auto 0 149px;
}

.u-section-1 .u-list-1 {
  width: 1119px;
  margin: 61px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 49px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-form-1 {
  height: 106px;
  margin: -8px 808px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 106px;
  margin: -106px 434px 0 373px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-3 {
  height: 106px;
  margin: -96px 61px 0 746px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 1130px;
  margin: -14px auto 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 49px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-form-4 {
  height: 106px;
  margin: 0 808px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-5 {
  height: 106px;
  margin: -106px 61px 0 746px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-6 {
  height: 106px;
  margin: -106px 434px 0 373px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-7 {
  height: 106px;
  margin: 26px 808px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-8 {
  height: 106px;
  margin: -106px 434px 0 373px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-form-9 {
  height: 106px;
  margin: -106px 61px 0 747px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-list-3 {
  width: 1130px;
  margin: -150px auto 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 49px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 0.875rem;
  text-transform: none;
  margin: 111px auto 60px 26px;
  padding: 6px 32px 7px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 122px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 41px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 608px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 334px;
    margin-left: 273px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 0;
    margin-left: 608px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 41px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-form-4 {
    margin-right: 608px;
  }

  .u-section-1 .u-form-5 {
    margin-right: 0;
    margin-left: 608px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 334px;
    margin-left: 273px;
  }

  .u-section-1 .u-form-7 {
    margin-right: 608px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 334px;
    margin-left: 273px;
  }

  .u-section-1 .u-form-9 {
    margin-right: 0;
    margin-left: 608px;
  }

  .u-section-1 .u-list-3 {
    width: 940px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 41px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: -27px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 94px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 388px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 224px;
    margin-left: 163px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 388px;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 94px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-form-4 {
    margin-right: 388px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 388px;
  }

  .u-section-1 .u-form-6 {
    margin-top: -107px;
    margin-right: 224px;
    margin-left: 163px;
  }

  .u-section-1 .u-form-7 {
    margin-right: 388px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 55px;
    margin-left: 254px;
  }

  .u-section-1 .u-form-9 {
    margin-top: -107px;
    margin-left: 388px;
  }

  .u-section-1 .u-list-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 94px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 208px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 134px;
    margin-left: 73px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 208px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-4 {
    margin-right: 208px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 208px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 134px;
    margin-left: 73px;
  }

  .u-section-1 .u-form-7 {
    margin-right: 208px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-1 .u-form-9 {
    margin-left: 208px;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 94px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 8px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-form-3 {
    margin-left: 8px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 8px;
  }

  .u-section-1 .u-form-5 {
    margin-left: 8px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-form-7 {
    margin-right: 8px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-form-9 {
    margin-left: 8px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }
}